//colors
$primary: #fed136;
$section-color-alternate: #f6f6f6;

//sizes
$header-jumbotron-height: 300px;
$section-padding: 120px;
$page-menu-size: 175px;

@import "lib/bootstrap-4.4.1/scss/bootstrap.scss";

body {
    font-family: Raleway, sans-serif;
}

.page-header {
    background-image: url("img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.navbar-dark .navbar-brand {
    padding-top: 0.18rem;
    color: $primary;
}

.header-jumbotron {
    background: transparent;
    color: white;
    padding-top: 0px;
    padding-bottom: px;
    margin-bottom: 0px;
    margin-top: 20px;
    height: $header-jumbotron-height;

    @include media-breakpoint-up(sm) {
        height: $header-jumbotron-height + 50px;
        margin-top: 0;
    }
    @include media-breakpoint-up(md) {
        height: $header-jumbotron-height + 100px;
        
    }
    @include media-breakpoint-up(md) {
        height: $header-jumbotron-height + 150px;
        
    }

    h2 {
        margin-bottom: 0px;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .container {
        background: rgba(34, 34, 34, 0.5);
        padding: 25px 25px;
        width: auto;
        border-radius: 5px;
    }
}

.services {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    .services-icon{
        border: 3px solid $primary;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        margin: 0px auto 0.75rem auto;
    
        i {
            font-size: 2.5rem;
            color: $primary;
            text-align: center;
            line-height: 4rem;
        }
    }
}

.portfolio {
    background-color: $section-color-alternate;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

.aboutus {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    .aboutus-img {
        border: 5px solid $section-color-alternate;
        border-radius: 50%;
    }
    @include media-breakpoint-up(md){
        .aboutus-list {
            background: linear-gradient(
                to right, 
                white 0%, 
                white calc(50% - 1px), 
                $section-color-alternate calc(50% - 1px), 
                $section-color-alternate calc(50% + 1px), 
                white calc(50% + 1px), 
                white 100%);
        }
        .row:last-child {
            background-color: white;
        }
    }
}

.about-team {
    background-color: $section-color-alternate;
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    .team-profile-pic {
        border: 5px solid #dddddd;
        border-radius: 50%;
    }
    .about-team-icons{
        .about-team-icon {
            border: 1px solid #000000;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin: 0 2.5px;

            font-size: 1.7rem;
            color: #000000;
            text-align: center;
            line-height: 2.5rem;
            &:hover {
                color: #777777;
                border-color: #777777;
                text-decoration: none;
            }
        }
    }
}

.contact {
    background-color: #222222;
    background-image: url(img/contact-background.png);
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    color: white;
    
    #message {
        height: 5rem;
        @include media-breakpoint-up(sm) {
            height: 100%;
        }
    }
    #send-btn {
        font-weight: bold;
        font-size: 20px;
        padding: 15px 30px;
    }
}
.footer {
    padding-top: 30px;
    padding-bottom: 30px;

    .footer-icon {
        border: 1px solid #222222;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin: 0 4px;
            background-color: #222222;

            font-size: 1.7rem;
            color: #ffffff;
            text-align: center;
            line-height: 2.5rem;
            text-decoration: none;
            &:hover {
                background-color: #777777;
                border-color: #777777;
                text-decoration: none;
            }
    }
    .footer-copyright {
        @include media-breakpoint-up(sm) {
            padding-top: 0.75rem;
        }
    }
}
/** NavBar for mobile */

body {
    overflow-x: hidden;
}

#page {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    transition: 1s all;

    &.mobile-nav-opened {
        transform: translate(-$page-menu-size, 0);
    }

    .mobile-nav {
        position: fixed;
        right: -$page-menu-size;
        top: 0px;
        bottom: 0px;
        width: $page-menu-size;
        background-color: $section-color-alternate;
    }

    .mobile-nav-link {
        color: black;
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
        background-color: $section-color-alternate;
        
        &:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:last-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}